@import url(https://fonts.googleapis.com/css?family=Roboto:300);


*{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.products{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left{
    width: 65%;
    position: relative;
}
.left img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
.left img.active{
    opacity: 1;
}
.right{
    width: 35%;
    margin-top: 60px;
}

.product_description{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
}

.product_description span{
    font-size: 12px;
    color: #b7d5d4;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product_description h3{
    font-weight: 300;
    font-size: 52px;
    color: black;
    letter-spacing: -2px;
}

.product_description p{
    font-size: 16px;
  font-weight: 300;
  color: gray;
  line-height: 24px;
}

.product-colour{
    margin-bottom: 30px;
}

.colour_options div{
    display: inline-block;
}

.colour_options input[type="radio"]{
    display: none;
}

.colour_options input[type="radio"] + label span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;


    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.colour_options input[type="radio"]#orange + label span{
    background-color: orange;
}
.colour_options input[type="radio"]#white + label span{
    background-color: #dcd7d3;
}
.colour_options input[type="radio"]:checked + label span{
    background-image: "check_icon.png";
    background-repeat: no-repeat;
    background-position: center;
}


.lifestage_options div{
    display: inline-block;
}

.lifestage_options input[type="radio"]{
    display: none;
}

.lifestage_options input[type="radio"] + label span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;


    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.lifestage_options input[type="radio"]#adult + label span{
    background-color: #138A36;
}
.lifestage_options input[type="radio"]#baby + label span{
    background-color: #f2f230;
}

.product-price{
    display: flex;
    align-items: center;
}

.product-price span{
    font-size: 26px;
    font-weight: 300;
    color: gray;
    margin-right: 20px;
}

.addToCart{
    display: inline-block;
    background-color: #138A36;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.addToCart:hover{
    background-color: #11672b;
  }